html, body {
    height: 100%;
    margin: 0px;
}

body {  
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 50px;
    font: Arial, sans-serif;
    background: linear-gradient(to right,gray,lightgrey);
}

div {
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
}

h1 {
    color: #343231;
    font-size: 30;
    font-weight: bold;
}

p {
    color: #343231;
    font-size: 20px;
    line-height: 2;
}

button {
    background: linear-gradient(to left, gray, lightgrey);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: #343231;
}

button:hover {
    color: black;
    background: gray;
}

div {
    color: white;
    font-size: 30px;
    background: none;
}