html, body {
    height: 100%;
    margin: 0px;
}

body {  
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    margin-top: 50px;
    font: Arial, sans-serif;
    background: linear-gradient(to right,gray,lightgrey);
}

div {
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  background: none;
  max-width: fit-content;
  margin: 20px auto;
}

h1 {
    color: #343231;
    font-size: 30;
    font-weight: bold;
}

p {
    color: #343231;
    font-size: 20px;
    line-height: 2;
}

button {
    background: linear-gradient(to left, gray, lightgrey);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    color: #343231;
}

button:hover {
    color: black;
    background: gray;
}

form {
    flex-direction: column;
    display: flex;
    align-items: center;
}

form input {
    width: 200px;
    align-items: center;
}

form button{
    width: 100px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

input {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

table, th, tr, td{
    border: 1px solid grey;
    border-collapse: collapse;
    min-width: 100px;
}

td {
    font-size: 16px;
    padding: 10px;
}

td, th {
    padding: 10px;
}
