<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Todo App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    
        <h1>My Todo List</h1>

        <form id="todo-form" class="todo-form">
            <input type="text" id="todo_text" placeholder="Task title..." required>
            <input type="date" id="todo_date" required>
            <input type="time" id="todo_time" required>
            <button type="submit_form" id="submit_form">Add</button>
        </form>

        <table id="todo-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Due</th>
                    <th>Done</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="todo_body"></tbody>
        </table>

        <div class="pagination">
            <button id="prev">&laquo; Prev</button>
            <span id="page-info">Page 1</span>
            <button id="next">Next &raquo;</button>
        </div>
        <div id="notification_div"></div>
        <table id="table_update" style="visibility:hidden">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Due</th>
                <th>Done</th>
                <th>Update?</th>
            </tr>
            <tbody id="update-body">
                <tr>
                    <th id="update_id"></th>
                    <th id="update_title">
                        <input type="text">
                    </th>
                    <th id="update_due">
                        <input id="update_date" type="date">
                        <input id="update_time" type="time">
                    </th>
                    <th id="done_id">
                        <input id="checkbox_update" type="checkbox">
                    </th>
                    <th id="do_update">
                        <button id="yes_do_update">yes</button>
                        <button id="no_do_update">no</button>
                    </th>
                </tr>
            </tbody>
        </table>
        <div id="notification_div"></div>

    <script>
        //Notification Div
        const notification_div = document.getElementById("notification_div");
        
        const new_todo_text = document.getElementById("todo_text");
        const new_todo_date = document.getElementById("todo_date");
        const new_todo_time = document.getElementById("todo_time");
        //Submit new task form
        const submit_form = document.getElementById("submit_form");
        submit_form.addEventListener("click", async(event) =>{
            event.preventDefault();
            const token = sessionStorage.getItem("token");
            const title = new_todo_text.value;
            const date = new_todo_date.value;
            const time = new_todo_time.value;
            const due_by =  new Date(`${date}T${time}`);
            try {
                const response = await fetch(`/todos`, {
                    method: "POST",
                    headers: { "Content-Type": "application/json",
                                "Authorization": `Bearer ${token}`
                    },
                    body: JSON.stringify({title: title,
                                        due_by :due_by.toISOString()})

                });

                if (!response.ok) {
                    const errorData = await response.json();
                    notification_div.style.visibility = "visible"
                    notification_div.textContent = `Error: ${errorData.detail || response.statusText}`;
                    notification_div.style.background = "grey";
                    setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
                } else {
                    notification_div.style.visibility = "visible"
                    notification_div.textContent = "Notification Created :)";
                    notification_div.style.background = "grey";
                    setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
        }
            } catch (error) {
                notification_div.style.visibility = "visible"
                notification_div.textContent = "Unknown Error has occured";
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
            }
        })

        const table_body = document.getElementById("todo_body");
        async function getTodos() {
            try {
                const params = new URLSearchParams({ skip: 0, limit: 5 });
                const token = sessionStorage.getItem("token");
                const response = await fetch(`/todos?${params}`, {
                method: "GET",
                headers: { "Content-Type": "application/json",
                            "Authorization": `Bearer ${token}`
                 }
                });

                if (response.status === 401){
                    sessionStorage.removeItem("token");
                    sessionStorage.removeItem("username");
                    notification_div.style.visibility = "visible";
                    notification_div.textContent = `Please login again`;
                    notification_div.style.background = "grey";
                    setTimeout(() => {window.location.href = "/login-page";notification_div.style.visibility = "hidden";}, 2000);
                }
                else if (response.status === 200){
                    name = sessionStorage.getItem("username");
                    notification_div.style.visibility = "visible";
                    notification_div.textContent = `Welcome back ${name}`;
                    notification_div.style.background = "grey";
                    setTimeout(() => {notification_div.style.visibility = "hidden";}, 3000);

                }

                const todos = await response.json();
                //Table body
                const table_body = document.getElementById("todo_body");
                table_body.innerHTML = ""
                console.log(todos)
                
                todos.forEach(todo => {
                    const row = document.createElement("tr");

                    const num_cell = document.createElement("td");
                    num_cell.textContent = todo.id;

                    const description_cell = document.createElement("td");
                    description_cell.textContent = todo.title;

                    const due_date_cell = document.createElement("td");
                    const due = todo.due_by;
                    const [date, time] = due.split("T");
                    due_date_cell.textContent = `${date} ${time.split(".")[0]}`;

                    const completion_cell = document.createElement("td");
                    const checkbox = document.createElement("input");
                    checkbox.type = "checkbox";
                    checkbox.checked = todo.completed;
                    completion_cell.appendChild(checkbox);

                    const action_cell = document.createElement("td");

                    const delete_button = document.createElement("button");
                    delete_button.classList.add("delete_button");
                    delete_button.innerHTML = `<i class="fa-solid fa-trash"></i>`
                    action_cell.appendChild(delete_button);

                    const update_button = document.createElement("button");
                    update_button.classList.add("update_button");
                    update_button.innerHTML = `<i class="fa-solid fa-pen"></i>`
                    action_cell.appendChild(update_button);

                    //Append the rows in order you would like to appear
                    row.append(num_cell)
                    row.append(description_cell);
                    row.append(due_date_cell);
                    row.append(completion_cell);
                    row.append(action_cell);

                    table_body.append(row)
                });
            } catch (error) {
                notification_div.style.visibility = "visible"
                notification_div.textContent = "Unknown Error has occured";
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
            }
        }
        getTodos()
    
        //Add button behaviour for the delete and update buttons in each row
        table_body.addEventListener("click", async (e) => {
            const deleteButton = e.target.closest(".delete_button");
            const updateButton = e.target.closest(".update_button");
            if (deleteButton) {
                const row = e.target.closest("tr");
                const cells = row.getElementsByTagName("td");
                const id = cells[0].textContent;
                const token = sessionStorage.getItem("token");

                try {
                    const response = await fetch(`/todos/delete`,{
                        method: "POST",
                        headers: { "Content-Type": "application/json",
                            "Authorization": `Bearer ${token}`},
                        body: JSON.stringify({id: id})
                    })

                    if (response.status === 200){
                        const data = await response.json();
                        if (data.success === true){
                            row.remove();
                            notification_div.style.visibility = "visible"
                            notification_div.textContent = "Todo was deleted";
                            notification_div.style.background = "grey";
                            setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
                        } 
                    }
                    else {
                        notification_div.style.visibility = "visible"
                        notification_div.textContent = "Failed to delete Todo";
                        notification_div.style.background = "grey";
                        setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
                    }
                } catch (error) {
                    notification_div.style.visibility = "visible"
                    notification_div.textContent = `Unknown Error has occured ${error}`;
                    notification_div.style.background = "grey";
                    setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
                }
            }
            else if (updateButton) {
                //console.log("Firing")
                const table_update = document.getElementById("table_update");
                table_update.style.visibility = "visible";

                const row = e.target.closest("tr");
                const cells = row.getElementsByTagName("td");

                const id = cells[0].textContent;
                const title = cells[1].textContent;
                const due_parts = cells[2].textContent.split(" ");
                const date_part = due_parts[0];
                const time_part = due_parts[1].slice(0,5);
                //console.log(due_parts)


                const complete = cells[3].querySelector("input").checked
                //console.log(complete)

                document.getElementById("update_id").textContent = id
                document.querySelector("#update_title input").value = title;
                document.getElementById("update_date").value = date_part
                document.getElementById("update_time").value = time_part
                document.getElementById("checkbox_update").checked = complete;

            }
        });

        //yes_update
        yes_update = document.getElementById("yes_do_update");

        yes_update.addEventListener("click", async (event) => {
            const id = document.getElementById("update_id").textContent;
            const title = document.querySelector("#update_title input").value;
            const date = document.getElementById("update_date").value;
            const time = document.getElementById("update_time").value;
            const completed = document.getElementById("checkbox_update").checked;
            const token = sessionStorage.getItem("token");
            const due_by =  new Date(`${date}T${time}`);

            try {
                const response = await fetch(`/todos/${id}`, {
                    method: "PUT",
                    headers: { "Content-Type": "application/json",
                                "Authorization": `Bearer ${token}`
                    },
                    body: JSON.stringify({
                        id: id,
                        title: title,
                        due_by: due_by.toISOString(),
                        completed: completed        
                    })

                });
            } catch (error) {
                notification_div.style.visibility = "visible"
                notification_div.textContent = `Error ${error}`;
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
            }
        })

        //no_update
        no_update = document.getElementById("no_do_update");

        no_update.addEventListener("click", async (event) => {
            document.getElementById("update_id").textContent = null
            document.querySelector("#update_title input").value = null;
            document.getElementById("update_date").value = null
            document.getElementById("update_time").value = null
            document.getElementById("checkbox_update").checked = false;
            document.getElementById("table_update").style.visibility = "hidden";
        })



    </script>
</body>
</html>
