<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Todo App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    
        <h1>My Todo List</h1>

        <form id="todo-form" class="todo-form">
            <input type="text" id="todo_text" placeholder="Task title..." required>
            <input type="date" id="todo_date" required>
            <input type="time" id="todo_time" required>
            <button type="submit_form" id="submit_form">Add</button>
        </form>

        <table id="todo-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Due</th>
                    <th>Done</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="todo_body"></tbody>
        </table>

        <div class="pagination">
            <button id="prev">&laquo; Prev</button>
            <span id="page-info">Page 1</span>
            <button id="next">Next &raquo;</button>
        </div>
    

    <div id="notification_div"></div>

    <script>
        //Notification Div
        const notification_div = document.getElementById("notification_div");
        
        const new_todo_text = document.getElementById("todo_text");
        const new_todo_date = document.getElementById("todo_date");
        const new_todo_time = document.getElementById("todo_time");
        //Submit new task form
        const submit_form = document.getElementById("submit_form");
        submit_form.addEventListener("click", async(event) =>{
            event.preventDefault();
            const token = sessionStorage.getItem("token");
            const title = new_todo_text.value;
            const date = new_todo_date.value;
            const time = new_todo_time.value;
            const due_by =  new Date(`${date}T${time}`);
            try {
                const response = await fetch(`/todos`, {
                    method: "POST",
                    headers: { "Content-Type": "application/json",
                                "Authorization": `Bearer ${token}`
                    },
                    body: JSON.stringify({title: title,
                                        due_by :due_by.toISOString()})

                });

                if (!response.ok) {
                    const errorData = await response.json();
                    notification_div.style.visibility = "visible"
                    notification_div.textContent = `Error: ${errorData.detail || response.statusText}`;
                    notification_div.style.background = "grey";
                    setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
                } else {
                    notification_div.style.visibility = "visible"
                    notification_div.textContent = "Notification Created :)";
                    notification_div.style.background = "grey";
                    setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
        }
            } catch (error) {
                notification_div.style.visibility = "visible"
                notification_div.textContent = "Unknown Error has occured";
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
            }
        })


        async function getTodos() {
            try {
                const params = new URLSearchParams({ skip: 0, limit: 5 });
                const token = sessionStorage.getItem("token");
                const response = await fetch(`/todos?${params}`, {
                method: "GET",
                headers: { "Content-Type": "application/json",
                            "Authorization": `Bearer ${token}`
                 }
                });

                if (response.status === 401){
                    sessionStorage.removeItem("token");
                    sessionStorage.removeItem("username");
                    notification_div.style.visibility = "visible";
                    notification_div.textContent = `Please login again`;
                    notification_div.style.background = "grey";
                    setTimeout(() => {window.location.href = "/login-page";notification_div.style.visibility = "hidden";}, 2000);
                }
                else if (response.status === 200){
                    name = sessionStorage.getItem("username");
                    notification_div.style.visibility = "visible";
                    notification_div.textContent = `Welcome back ${name}`;
                    notification_div.style.background = "grey";
                    setTimeout(() => {notification_div.style.visibility = "hidden";}, 3000);

                }

                const todos = await response.json();
                //Table body
                const table_body = document.getElementById("todo_body");
                table_body.innerHTML = ""
                console.log(todos)
                
                todos.forEach(todo => {
                    const row = document.createElement("tr");

                    const description_cell = document.createElement("td");
                    description_cell.textContent = todo.title;

                    const due_date_cell = document.createElement("td");
                    const due = todo.due_by;
                    const [date, time] = due.split("T");
                    due_date_cell.textContent = `${date} ${time.split(".")[0]}`;

                    const completion_cell = document.createElement("td");
                    completion_cell.textContent = todo.completed

                    const action_cell = document.createElement("td");


                    //Append the rows in order you would like to appear
                    row.append(description_cell);
                    row.append(due_date_cell);
                    row.append(completion_cell);
                    row.append(action_cell);

                    table_body.append(row)
                });
            } catch (error) {
                notification_div.style.visibility = "visible"
                notification_div.textContent = "Unknown Error has occured";
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
            }
        }

        getTodos()



    </script>
</body>
</html>
