<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Todo App</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
</head>
<body>
    <h1>Login</h1>

    <form id="loginform">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br><br>

        <button type="submit" id="login_button">Login</button>
    </form>

    <button id="home_button">Back to Home</button>
    <button id="register_button">Dont have an account?</button>
    <div id="notification_div"></div>

    <script>
        //Notification Div
        const notification_div = document.getElementById("notification_div");

        //login_button
        const login_button =  document.getElementById("login_button");
        const username_form = document.getElementById("username");
        const password_form = document.getElementById("password");

        login_button.addEventListener("click", async(event) =>{
            event.preventDefault();
            //Get value in loop so the value is determined when the box is
            // clicked not when the page is loaded
            username = username_form.value;
            password = password_form.value;

            try {
            const response =  await fetch(`/login`, {
                method: "POST",
                headers: { "Content-Type": "application/x-www-form-urlencoded" },
                body: new URLSearchParams ({username,password})
            });

            //Login was a success
            if (response.status ===200) {
                const data = await response.json();
                sessionStorage.setItem("username", data.username);
                sessionStorage.setItem("token", data.access_token);
                notification_div.style.visibility = "visible"
                notification_div.textContent = `Welcome back ${data.username}`;
                notification_div.style.background = "grey";
                setTimeout(() => {window.location.href = "/dashboard";notification_div.style.visibility = "hidden";}, 1000);
            }
            //Error with username or password
            else if (response.status === 401){
                notification_div.style.visibility = "visible"
                notification_div.textContent = `Error with Login(401)`;
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 1000);
            }
            else {
                notification_div.style.visibility = "visible"
                notification_div.textContent = `Error with Login`;
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 1000);
            }
            } catch (error) {
                notification_div.style.visibility = "visible"
                notification_div.textContent = "Error";
                notification_div.style.background = "grey";
                setTimeout(() => {notification_div.style.visibility = "hidden";}, 2000);
            }

        });

        //Home Button
        const home_button = document.getElementById("home_button");
        home_button.addEventListener("click", () => {
            notification_div.style.visibility = "visible";
            notification_div.textContent = "Sending you back home";
            notification_div.style.background = "grey";
            setTimeout(() => {window.location.href = "/";notification_div.style.visibility = "hidden";}, 1000);
        });


        //Register Button
        const register_button = document.getElementById("register_button");
        register_button.addEventListener("click", () => {
            notification_div.style.visibility = "visible";
            notification_div.textContent = "Sending you to Registration";
            notification_div.style.background = "grey";
            setTimeout(() => {window.location.href = "/register-page";notification_div.style.visibility = "hidden";}, 1000);
        });
        
    </script>
</body>
</html>
